numTrain = -1
numQueries = -1
mode = "features"                  # mode to get the features: histogram, wavelet, granulometry, features

[Histograms]
histogram_mode = "pyramid"          # simple, subimage, pyramid, pyramidFast
color_space = "Luv"                 # RGB, LAB, Luv, HSL, HSV, Yuv, XYZ, YCrCb
bin_num = 51
visualize = False
subdivision = 2                     # used for the histogram mode subimage
levels = 5                          # used for the histogram mode pyramid
preprocess = None                   # 'None', 'normalize', 'equalize'
eval_method = "bhattacharyya"                # euclidean, L1, x_sq, hist_intersect, kernhell, bhattacharyya, x_sq_alt, kl_div, correlate


[Granulometry]
bin_num = 100
visualize = False

[Wavelets]
method = "db"                     # 'haar', 'db', 'sym', 'coif', 'bior', 'rbio', 'dmey', 'gaus', 'mexh', 'morl', 'cgau', 'shan', 'fbsp', 'cmor'
levels = 1

[Features]
detect = "SIFT"        # 'SIFT','SURF','AKAZ','BRISK','KAZE','MSER','ORB'
compute= "SIFT"    # detectors + 'BoostDesc', 'BriefDescriptorExtractor', 'DAISY', 'FREAK', 'HarrisLaplaceFeatureDetector', 'LATCH', 'LUCID', 'PCTSignaturesSQFD', 'PCTSignatures', 'StarDetector', 'VGG', 'AZEMAR', 'Agast', 'FAST', 'GFTT'
matching = "FlannBased"           # BruteForce, BruteForce-L1, BruteForce-Hamming, BruteForce-Hamming(2), FlannBased
distance  = "mean"                   # mean, add, len
k = -1 
th = 300   
th_discarted = 175                     # este threshold sirve para que hayan -1s

[Directories]
imdir_train = "./Dataset/BBDD_W4/"
imdir_query = "./Dataset/query_test_W4/"

[Evaluate]
k = 10

[Visualization]
enabled = False 

[Save_Pickle]
save = True
pathOut = "./Dataset/pickle/"