
numTrain = 10
numQueries = 10
mode = "granulometry"                  # mode to get the features: histogram, wavelet, granulometry

[Histograms]
histogram_mode = "simple"          # simple, subimage, pyramid
color_space = "Yuv"                 # LAB, Luv, HSL, HSV, Yuv, XYZ, YCrCb
bin_num = 60
visualize = False
subdivision = 2                     # used for the histogram mode subimage
levels = 2                          # used for the histogram mode pyramid

[Granulometry]
bin_num = 50
visualize = False

[Wavelets]
method = "db"                     # 'haar', 'db', 'sym', 'coif', 'bior', 'rbio', 'dmey', 'gaus', 'mexh', 'morl', 'cgau', 'shan', 'fbsp', 'cmor'
levels = 1

[Directories]
imdir_train = "./Dataset/museum_set_random/"
imdir_query = "./Dataset/query_devel_random/"

[Evaluate]
k = 5
eval_method = "L1"                # euclidean, L1, x_sq, hist_intersect, kernhell

[Visualization]
enabled = False 

[Save_Pickle]
save = True
pathOut = "./Dataset/pickle/"