
[Histograms]
histogram_mode = "pyramid"          # simple, subimage, pyramid
color_space = "luv"                 # LAB, Luv, HSL, HSV, Yuv, XYZ, YCrCb
visualize = False
subdivision = 2                     # used for the histogram mode subimage
levels = 2                          # used for the histogram mode pyramid

[Directories]
imdir_train = "./Dataset/museum_set_random/"
imdir_query = "./Dataset/query_devel_random/"



