numTrain = 100
numQueries = -1
mode = "features"                  # mode to get the features: histogram, wavelet, granulometry, features

[Histograms]
histogram_mode = "pyramid"          # simple, subimage, pyramid, pyramidFast
color_space = "Luv"                 # RGB, LAB, Luv, HSL, HSV, Yuv, XYZ, YCrCb
bin_num = 51
visualize = False
subdivision = 2                     # used for the histogram mode subimage
levels = 5                          # used for the histogram mode pyramid
preprocess = None                   # 'None', 'normalize', 'equalize'
eval_method = "bhattacharyya"                # euclidean, L1, x_sq, hist_intersect, kernhell, bhattacharyya, x_sq_alt, kl_div, correlate


[Granulometry]
bin_num = 100
visualize = False

[Wavelets]
method = "db"                     # 'haar', 'db', 'sym', 'coif', 'bior', 'rbio', 'dmey', 'gaus', 'mexh', 'morl', 'cgau', 'shan', 'fbsp', 'cmor'
levels = 1

[TextBox]
textbox = True

[Features]
image_width = -1
detect = "ORB"        # 'SIFT','SURF','AKAZ','BRISK','KAZE','MSER','ORB'
compute= "SURF"    # detectors + 'BoostDesc', 'BriefDescriptorExtractor', 'DAISY', 'FREAK', 'HarrisLaplaceFeatureDetector', 'LATCH', 'LUCID', 'PCTSignaturesSQFD', 'PCTSignatures', 'StarDetector', 'VGG', 'AZEMAR', 'Agast', 'FAST', 'GFTT'
matching = "FlannBased"           # BruteForce, BruteForce-L1, BruteForce-Hamming, BruteForce-Hamming(2), FlannBased
distance  = "mean"                   # mean, add, len
k = -1 
th = 0.5
th_discarted = 0.3                     # este threshold sirve para que hayan -1s
    [[preprocess]]
    preprocess = True
    compute_angles = True
    detect_text_hats = True
    debug_text_hats = True
    evaluate_bb = True
    pickle_textBox = "./Dataset/w5_text_bbox_list.pkl"

[Directories]
imdir_train = "./Dataset/w5_BBDD_random/"
imdir_query = "./Dataset/w5_devel_random/"

[Evaluate]
k = 10

[Visualization]
enabled = False

[Save_Pickle]
save = False
pathOut = "./Dataset/pickle/"